/alembic-1.7.1
/build_vs2017_64_alembic
/MikuMikuDance_x64
/build_vs2017_64
/build_vs2022_64
/.deps
/.omx
/MMDBridge
/README.zh-draft.md
/out
/project/d3d9/x64
/project/d3dx9/x64
/project/umbase/x64
/dist
/Release/x64/*.dll
/Release/x64/*.exp
/Release/x64/*.lib
/Release/x64/*.pdb
/project/d3d9/d3d9.res
/libs/mmd/include/MMDExport.h
/libs/mmd/x64/MMDExport.lib
/2026-*.txt
/hook.suo
/x64
/.omx
/MMEffect_x64_v037
